*{
    margin:0;
    padding:0;
}
body
{
    font-family: sans-serif;
}
.app-container
{
    height: 100vh;
    max-height: 600px;
    width: 350px;
    max-width: 100vw;
    background-image: linear-gradient(#580e8f, #9200ff);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.top-box
{  
    height:150px;
    background-color: #9100fb;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;

}
.top-box p
{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.left-icon
{ 
    float: left;
    margin-left: 30px;
}
.right-icon
{ 
    float: right;
    margin-right: 30px;
}
.middle-box
{
    height: 150px;
    background-image: linear-gradient(#580e8f,#9200ff);
    margin: -70px 30px 20px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    border-radius: 10px;
}
.middle-box h1 
{ 
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 50px;
    font-weight: normal;

}
.middle-box h1 span
{
    font-size: 20px;
    margin-left: 30px;
    bottom: 18px;
    position: relative;
}
.payment-option-btn
{
    color:#fff;
    margin: 5px 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #580e8f;
    border: none;
    width: 290px;
    cursor: pointer;
}
.card-details
{
    background: #fff;
    color: #555;
    margin: 10px 30px;
    padding: 10px;
}
.card-details p 
{
    font-size: 14px;
}
.card-details label
{
    font-size: 10px;
    line-height: 20px;
}

